<div class="form">
<h2>Create New Bar Crawl</h2>

<%= form_tag("/crawl/create/", method: "get") do %>
  <%= label_tag(:num_bars, "Number bars:") %>
	<%= number_field_tag :num_bars, nil, min: 1, value: @numbers %>
  <%= submit_tag("Search") %>
<% end %>

<div class="map">
  <%render partial: "layouts/google_map"%>
</div>

		<% if @spots %>
		<h1>Bars near you!</h1>
		<table class="table">
						<thead>
							<tr>
								<td><b>Name</b></td>
								<td><b>Address</b></td>
						</thead>
						<%- @spots.each do |spot| %>
						<tbody>

							<tr>
								<td><%= spot.name %></td>
								<td><%= spot.formatted_address %></td>
							</tr>

						</tbody>
						<%end%>

				</table>
				<% end %>
</div>
