<%= javascript_tag "locationArray = #{@locationArray};" %>
<script>
      require([
        "esri/map",
        "esri/layers/CSVLayer",
        "esri/Color",
        "esri/symbols/SimpleMarkerSymbol",
        "esri/renderers/SimpleRenderer",
        "esri/InfoTemplate",
        "esri/urlUtils",
        "esri/config",
        "esri/graphic",
        "esri/tasks/RouteTask",
        "esri/tasks/RouteParameters",
        "esri/tasks/FeatureSet",            
        "esri/symbols/SimpleLineSymbol", 
        "esri/dijit/LocateButton",   
        "esri/dijit/Directions" ,
        "esri/geometry/Point" ,

        "dojo/_base/array",
        "dojo/on",
        "dojo/dom",
        "dojo/domReady!",
				"dijit/layout/BorderContainer",
				"dijit/layout/ContentPane",
      ], function(
        Map, CSVLayer, Color, SimpleMarkerSymbol, SimpleRenderer, InfoTemplate, urlUtils, esriConfig,
         Graphic, RouteTask, RouteParameters, FeatureSet, SimpleLineSymbol, LocateButton,Directions, Point,
          array, on, dom
      ) {
      
        var map, csv;
        var routeTask, routeParams, routes = [];
        var stopSymbol, routeSymbol;

        urlUtils.addProxyRule({
          urlPrefix: "http://utility.arcgis.com/usrsvcs/appservices/ATj08erm3SUoooDQ/rest/services/World/Route/NAServer/Route_World",
          proxyUrl: "/sproxy/"
        });

        map = new Map("map", {
          basemap: "streets",
          center: [ -83.0025815, 39.9713071], //longitude and latitude
          zoom: 12
        });
        
// 				geoLocate = new LocateButton({
// 					map: map
// 				}, "LocateButton");
// 				geoLocate.scale = 2400;
// 				geoLocate.locate();
// 				
        
        
      
        console.log("setting up directions widget");
				var directionsWidget = new Directions({
					map: map
				 },"#dir");
				directionsWidget.startup();
				
				for (var i=0; i< locationArray.length; i++) {
					var loc = locationArray[i];
					directionsWidget.addStop([loc[0], loc[1]]);
				}
				var dir = directionsWidget.getDirections();
				console.log(dir);


        //Draws the resulting routes on the map
        function showRoute(evt) {
          clearRoutes();

          array.forEach(evt.result.routeResults, function(routeResult, i) {
            routes.push(
              map.graphics.add(
                routeResult.route.setSymbol(routeSymbols[routeResult.routeName])
              )
            );
          });

          var msgs = ["Server messages:"];
          array.forEach(evt.result.messages, function(message) {
            msgs.push(message.type + " : " + message.description);
          });
          if (msgs.length > 1) {
            alert(msgs.join("\n - "));
          }
        }

        //Reports any errors that occurred during the solve
        function errorHandler(err) {
          alert("An error occured\n" + err.message + "\n");
        }
      });
    </script>


<div class="row">
<h2>Create New Bar Crawl</h2>

<div class="col-sm-6">

<%= form_tag("/crawl/create/", method: "get") do %>
	<h1>Search for bars</h1>
  <%= label_tag(:num_bars, "Number bars:") %>
	<%= number_field_tag :num_bars, nil, min: 1, value: @numbers %>
  <%= submit_tag("Search") %>
<% end %>

<%= form_tag("/crawl/save/", method: "post") do %>
	<% if @spots %>
		<h1>Bars near you!</h1>
		<%= label_tag(:crawl_name, "Bar Crawl Name:") %>
		<%= text_field_tag :crawl_name, nil, value: @crawlname %>
		</br>
		<%= label_tag(:crawl_date, "Bar Crawl Date:") %>
		<%= date_field_tag :crawl_date %>
		<% @spots.each do |spot| %>
			<div class="show-crawl-list">
				<%= check_box_tag "spot_ids[#{spot.id}]", spot.id %>
        <span class="bar_name"><%= spot.name -%></span></br>
        <%= spot.formatted_address %>
      </div>
  	<% end %>
    <br><br>
	  <%= submit_tag("Save") %>
  <% end %>
<% end %>

</div>



<div class="claro col-sm-6">
    <div data-dojo-type="dijit/layout/BorderContainer"
         data-dojo-props="design:'headline', gutters:false"
         style="width:100%;height:100%;">
      <div data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'right'"
           style="width:250px;">

        <div id="dir"></div>
      </div>
					<div id="LocateButton"></div>
      <div id="map"
           data-dojo-type="dijit/layout/ContentPane"
           data-dojo-props="region:'center'">
      </div>
    </div>
  </div>
</div>
