<% content_for :top_content do %>
	<% if user_signed_in? %>
		<h1>Welcome!</h1>

    <div class="form">
    <h2 style="text-align:center;">Current Bar Crawl</h2>

    <!-- budget -->
    <div class="row" style="padding:2%;">
    <div class="col-md-5">
      <div class="container">
      <script type="text/javascript" src="http://www.chartjs.org/assets/Chart.js"></script>
      <canvas id="budget" width="600" height="400"></canvas>

      <%= javascript_tag "bars = #{@budget.getBars()};" %>

      <script>
      var remainingBudget = "<%= @budget.getRemainingBudget() %>";
      var colors = ["#878BB6", "#D24D57","#FF8153", "#FFEA88", "#F64747"];
      var pieData = [
        {
            label: "Remaining Budget",
            value: remainingBudget,
            color:"#878BB6"
        }
      ];

      color_index = 1;
      i = 2;
      for (var bar in bars) {
        var obj = {
          label:  bar,
          value:  bars[bar],
          color:  colors[color_index]
        };
        pieData.push(obj);
        color_index = i % colors.length;
        i++;
      }

      // Get the context of the canvas element we want to select
      var budget= document.getElementById("budget").getContext("2d");
      new Chart(budget).Pie(pieData);
      </script>

      </div>
    </div>
    <div class="col-md-5">
      <h3>Remaining budget: $<%= @budget.getRemainingBudget() %> </h3>

      <%= form_tag("/", method: "get") do %>
        <%= label_tag(:budgetValue, "Enter a new budget:") %>
        <%= number_field_tag :budgetValue, value: @budgetValue %>
        <%= submit_tag("Enter") %>
      <% end %>
      <%= form_tag("/", method: "get") do %>
        <%= label_tag(:bar, "Enter the bar name:") %>
        <%= text_field_tag :bar %>
        <%= label_tag(:spent, "Enter the amount spent:") %>
        <%= number_field_tag :spent, value: @spent %>
        <%= submit_tag("Enter") %>
      <% end %>

      <%= @budget.getBars() %>

    </div>
    </div>


	<% else %>

			<div class="frontpage-banner">
			<div id="frontpage-banner-background" style="background-image: url('<?php bloginfo('template_directory'); ?>/images/frontpage/hero-image.png');"></div>
			<div id="frontpage-banner-content">
				<div id="primary-text-section">
					<h1><%= link_to 'CRWL', root_path, class:'title-link' %></h1>
				</div>
				<div class="button-container" id="banner-button-container">
					<button><%= link_to 'Register', new_user_registration_path, class: 'btn btn-lg frontpage-btn' %></button>
					<button><%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg frontpage-btn' %></button>
				</div>
			</div>
		</div>

<!--
		<div class="loginpic">
			<div class="btn-container row">
				<%= link_to 'Register', new_user_registration_path, class: 'btn btn-lg frontpage-btn' %>
				<%= link_to 'Log In', new_user_session_path, class: 'btn btn-lg frontpage-btn' %>
			</div>
		</div>
 -->
	<% end %>
<% end %>
